.post{
    background-color: white;
    margin: 10px;
    font-family: 'Roboto Mono', monospace;
    border-radius: 10px;
}



.userid{
    padding: 5px;
    color: rgb(67, 66, 66);
    font-weight: bold;
    font-size: 1.5rem;

}

.content{
    padding: 5px;
    text-align: start;
    margin: auto;
    overflow-wrap: break-word;
}

.newpost{
    margin: 10px;
    border-radius: 10px;
    background-color: white;

}

input[type=text] {
    width: 100%;
    height: 7.5vh;
    box-sizing: border-box;
    text-align: center;
    border: 0px;
    border-radius: 10px;
    font-size: 1rem;
  }

.postheader{
    display: flex;
    justify-content: space-between;
}

.postbutton{
    margin: 5px;
    background-color: rgb(64, 64, 243);
    color: white;
    border: none;
    border-radius: 5px;
    height: 4vh;
    width: 8vw;
    text-align: center;
}

.posttext{
    padding: 5px;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;

}
